<div ng-show="userInfo" ng-include="'partial/loginUserHeader.html'"></div>
<div ng-show="userInfo" ng-controller="userController" class="container body">

    <h1 class="text-right">Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img ng-src="{{userInfo.profileImageData || defaultUserPhoto}}" class="editProfileImg" alt="avatar">
                <h6>Change Profile image</h6>

                <h6 class="">LIMIT: 128lb</h6>
                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">

            <form class="form-horizontal" role="form" ng-submit="editProfile()">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="userInfo.name" required
                               oninvalid="this.setCustomValidity('Name is required')"
                               oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" ng-model="userInfo.email" required
                               oninvalid="this.setCustomValidity('Name is required')"
                               oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Gender:</label>
                    <div class="col-lg-8 radio">
                        <label>
                            <input type="radio" name="gender-radio" tabindex="6"
                                   ng-model="userInfo.gender" value="1">Male
                        </label>
                        <label>
                            <input type="radio" name="gender-radio" tabindex="7"
                                   ng-model="userInfo.gender" value="2">Female
                        </label>
                        <label>
                            <input type="radio" name="gender-radio" tabindex="8"
                                   ng-model="userInfo.gender" value="0">Other
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Cover Photo:</label>
                    <div class="col-lg-8">
                        <img  ng-src="{{(currentCoverImg) || (userInfo.coverImageData || defaultUserCoverPhoto)}}" class="editCoverPhoto" alt="avatar">


                        <h6 class="pull-right">LIMIT: 1024kb </h6>
                        <input type="file" class="col-gl-3 control-label" value="uplode">
                    </div>

                </div>
                <div class="form-group text-right">
                    <div class="">
                        <input type="submit" class="btn btn-success" value="Save Changes">
                        <span></span>
                        <a href="#/"><input type="reset" class="btn btn-default" value="Cancel"></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-group pull-left">
        <a href="#/profile/password"><input type="reset" class="btn btn-info changePasword" value="Change password"></a>

    </div>
</div>
<div class="loading"ng-if="(userInfo === undefined)"><img src="img/ajax-loader (1).gif" alt=""/></div>