<nav ng-controller="userController" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">SocialNetwork</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse headerSearche">
            <form class="navbar-form navbar-left searchField" ng-controller="mainController" role="search">
                <div class="input-group searchBar" ng-click="showSearchMenu()" click-anywhere-but-here="hideSearchMenu()">
                    <input type="text" class="form-control" ng-model="search" ng-keyup="searchUserByName();"
                           placeholder="Search friends" name="q">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <div ng-show="shownSearchMenu" class="list-content dropDownSearch">
                        <ul class="list-group">
                            <li href="#" ng-repeat="user in foundUsers" class="list-group-item text-left">
                                <a href="#/user/{{user.username}}">
                                    <img ng-src="{{user.profileImageData || defaultUserAvatar}}"
                                         alt="{{user.name}}'s photo"/>
                                </a>
                                <label class="name">
                                    <a href="#/user/{{user.username}}" class="name">
                                        {{user.name}}
                                    </a>
                                </label>

                                <div class="break"></div>
                            </li>
                            <li href="#" class="list-group-item text-left">
                                <a class="btn btn-block btn-info btn-primary">
                                    <i class="fa fa-filter"></i>
                                    <span>{{foundUsers.length || 0}}</span> <span>results total</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#/user/{{userInfo.username}}"> <img class="headerAvatarPhoto"
                                                  ng-src="{{userInfo.profileImageData || defaultUserAvatar}}"
                                                  alt="{{userInfo.name}}`s photo">
                    <span id="username">{{userInfo.name}}</span></a></li>
                <li class="active"><a href="#/"><i class="fa fa-home fa-lg"></i></a></li>
                <li ng-click="showFriendRequests()" click-anywhere-but-here="hideFriendRequests()"><a href="#"><i
                        class="fa fa-user fa-lg"></i><span ng-show="(friendRequests|filter:{processed: 'undefined'}).length" class="friendRequestsCount">{{friendRequests.length}}</span></a>

                    <div ng-show="friendRequests.length && showRequests" class="headerFriendRequest">
                        <div class="upArrow"></div>
                        <div class="list-content">
                            <ul class="list-group">
                                <li class="list-group-item title">
                                    Friend requests
                                </li>
                                <li class="list-group-item text-left">
                                    <div class="friendRequest" ng-hide="request.processed" ng-repeat="request in friendRequests">
                                        <img class="img-thumbnail"
                                             ng-src="{{request.user.profileImageData || defaultUserAvatar}}"
                                             alt="{{request.user.name}}`s photo">

                                        <div>
                                            <div class="name">
                                                <a href="#/user/request.user.username">{{request.user.name}}</a>
                                            </div>
                                            <div class="acceptRejectBtn">
                                                <span class="re btn btn-success" ng-click="acceptFriendRequest(request.id)"><i class="fa fa-check"></i>
                                                    Accept</span>
                                                <span class="re btn btn-danger" ng-click="rejectFriendRequest(request.id)"><i class="fa fa-minus-circle"></i>
                                                    Reject</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#/profile"><i class="fa fa-cogs fa-lg"></i></a></li>
                <li><a class="pointer" ng-click="logout()"><i class="fa fa-sign-out fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</nav>