<nav class="navbar navbar-default" role="navigation">
    <div id="navBar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SocialNetwork</a>
        </div>
        <div class="col-sm-6">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse col-sm-3 col-md-4" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="#/userProfile"> <img class="headerAvatarPhoto"
                                                  ng-src="{{userInfo.profileImageData || defaultUserAvatar}}"
                                                  alt="{{userInfo.name}}`s photo">
                    {{userInfo.name}}</a></li>
                <li class="active"><a href="#/home"><i class="fa fa-home fa-lg"></i></a></li>
                <li ng-click="showFriendRequests()" ng-mouseleave="hideFriendRequests()"><a href="#/"><i
                        class="fa fa-user fa-lg"></i><span ng-show="friendRequests.length" class="friendRequestsCount">{{friendRequests.length}}</span></a>

                    <div ng-show="friendRequests.length && showRequests" class="headerFriendRequest">
                        <div class="upArrow"></div>
                        <div class="list-content">
                            <ul class="list-group">
                                <li href="#" class="list-group-item title">
                                    Friend requests
                                </li>
                                <li href="#" class="list-group-item text-left">
                                    <div class="friendRequest" ng-repeat="request in friendRequests">
                                        <img class="img-thumbnail"
                                             ng-src="{{request.user.profileImageData || defaultUserAvatar}}"
                                             alt="{{request.user.name}}`s photo">

                                        <div>
                                            <div class="name">
                                                <a href="#/">{{request.user.name}}</a>
                                            </div>
                                            <div class="acceptRejectBtn">
                                                <a href="#" class="re btn btn-success"><i class="fa fa-check"></i>
                                                    Accept</a>
                                                <a href="#" class="re btn btn-danger"><i class="fa fa-minus-circle"></i>
                                                    Reject</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#"><i class="fa fa-cogs fa-lg"></i></a></li>
                <li ng-click="logout()"><a href="#/"><i class="fa fa-sign-out fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</nav>