<div class="list-content friendListZoneFull" ng-show="currentProfileData.username">
    <ul class="list-group">
        <li href="#" class="list-group-item title">
            Friends <span class="totalFriendCount" href="#/friends">{{friendTotal.totalCount}} total</span>
        </li>
        <li href="#" class="list-group-item title">
            <div class="friendSearch">
                <span>Name filter  <i class="fa fa-filter"></i></span>
                <input type="text" class="form-control" ng-model="friendSearch" ng-keyup="searchUserByName();"
                       placeholder="Search friends" name="q">
            </div>
        </li>

        <div class="text-center" ng-if="((friendInfo[friendInfo.length - 1].username === undefined) && (userInfo.username !== undefined))"><img src="img/ajax-loader (1).gif" alt=""/></div>

        <li ng-repeat="friend in friendInfo | filter: {name: friendSearch}" href="#" class="allFriends">
            <a href="#/user/{{friend.username}}">
                <img class="img"
                     ng-src="{{friend.profileImageData || defaultUserAvatar}}"
                     alt="{{friend.name}}`s photo">
            </a>
        <span class="name">
            <a href="#/user/{{friend.username}}">
                <span>{{friend.name}}</span>
            </a>
        </span>
        </li>
    </ul>
</div>